@import 'global.less';
@import 'normalize.less';
@import 'variables.less';

@mob_up:~'only screen and (min-width: 800px)';
@mob:~'only screen and (max-width: 799px)';

html {
  position: relative;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
body {
  background: #FBFBFB;
}
